B20/Matura_Zadatak_B20/Matura_Zadatak_B20/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcitajKursNaDan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Datum" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="valuta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcitajKursNaDanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcitajKursNaDanResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpisiKursNaDan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Datum" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="valuta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Kurs" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpisiKursNaDanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpisiKursNaDanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcitajSveValute">
        <s:complexType />
      </s:element>
      <s:element name="ProcitajSveValuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcitajSveValuteResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcitajKursNaDanSoapIn">
    <wsdl:part name="parameters" element="tns:ProcitajKursNaDan" />
  </wsdl:message>
  <wsdl:message name="ProcitajKursNaDanSoapOut">
    <wsdl:part name="parameters" element="tns:ProcitajKursNaDanResponse" />
  </wsdl:message>
  <wsdl:message name="UpisiKursNaDanSoapIn">
    <wsdl:part name="parameters" element="tns:UpisiKursNaDan" />
  </wsdl:message>
  <wsdl:message name="UpisiKursNaDanSoapOut">
    <wsdl:part name="parameters" element="tns:UpisiKursNaDanResponse" />
  </wsdl:message>
  <wsdl:message name="ProcitajSveValuteSoapIn">
    <wsdl:part name="parameters" element="tns:ProcitajSveValute" />
  </wsdl:message>
  <wsdl:message name="ProcitajSveValuteSoapOut">
    <wsdl:part name="parameters" element="tns:ProcitajSveValuteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcitajKursNaDan">
      <wsdl:input message="tns:ProcitajKursNaDanSoapIn" />
      <wsdl:output message="tns:ProcitajKursNaDanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpisiKursNaDan">
      <wsdl:input message="tns:UpisiKursNaDanSoapIn" />
      <wsdl:output message="tns:UpisiKursNaDanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcitajSveValute">
      <wsdl:input message="tns:ProcitajSveValuteSoapIn" />
      <wsdl:output message="tns:ProcitajSveValuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcitajKursNaDan">
      <soap:operation soapAction="http://tempuri.org/ProcitajKursNaDan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpisiKursNaDan">
      <soap:operation soapAction="http://tempuri.org/UpisiKursNaDan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcitajSveValute">
      <soap:operation soapAction="http://tempuri.org/ProcitajSveValute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcitajKursNaDan">
      <soap12:operation soapAction="http://tempuri.org/ProcitajKursNaDan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpisiKursNaDan">
      <soap12:operation soapAction="http://tempuri.org/UpisiKursNaDan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcitajSveValute">
      <soap12:operation soapAction="http://tempuri.org/ProcitajSveValute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:1143/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:1143/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>